#cloud-config

instance-id: {{ fqdn }}
local-hostname: {{ fqdn }}

ssh_keys:
  # Pre-generated SSH host keys
  rsa_private: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
    NhAAAAAwEAAQAAAQEAz1f70/8TL6sjBLd9VmquZYxKnPkB+OGE2KdCn8Xgv0bnoTCDtXnP
    j6V2trG7l2TTaSqBo8hwv3aYjNjOtj+Czdw3hQpP+venOBebgqv6CRu2G65WyUkvDDVeSP
    Roupcugzi1BVBWRUY7UAu6sz1npKzbQ+8rytwj4vRCY0iXUVcbrG7Y/0rjz62lEfc1tnvD
    EogXpYRQdpzC2CYWrX6Yz/C5ej2zCHzTmJgix6lbBnex880YD52jFNT5QN1jmi5UUrzAPw
    Nobc4/6rTLJJPiNPA/QRl533j902uKmTVjF7Cv/4ifGTe3HjrM975KrQDBdFhRV+TiD77s
    v+Rm2Y/cgwAAA7h32npkd9p6ZAAAAAdzc2gtcnNhAAABAQDPV/vT/xMvqyMEt31Waq5ljE
    qc+QH44YTYp0KfxeC/RuehMIO1ec+PpXa2sbuXZNNpKoGjyHC/dpiM2M62P4LN3DeFCk/6
    96c4F5uCq/oJG7YbrlbJSS8MNV5I9Gi6ly6DOLUFUFZFRjtQC7qzPWekrNtD7yvK3CPi9E
    JjSJdRVxusbtj/SuPPraUR9zW2e8MSiBelhFB2nMLYJhatfpjP8Ll6PbMIfNOYmCLHqVsG
    d7HzzRgPnaMU1PlA3WOaLlRSvMA/A2htzj/qtMskk+I08D9BGXnfeP3Ta4qZNWMXsK//iJ
    8ZN7ceOsz3vkqtAMF0WFFX5OIPvuy/5GbZj9yDAAAAAwEAAQAAAQEAjYJG5NDZj1cFd1qj
    uC7nB3dQFQH9Tpbby+Gbnt+2G9WQkHpD6b9Q4YDUHKwAk7rEbqoMAHP0Pzf5tWbi7Y86/r
    SlT69SFr6e6bFy+SPWahD3oLzDjmzcJ0DlMHVeZLp5jCVPpmjF+FGOeXsH2Py3l7RBkYPS
    J4lHFMYP6SLJ40CNQq5GPZ2QQS3FX7KwE045db6zSX54whNgXMRKTxqNVSk6fux8Z9U9SD
    dnTYV7nWAbesfcaxbHW0e1/zFg8XPmp1xWROcSKrQu7TGDEb9PbFGy3Ow7GXk2Dm03coRQ
    GJycwy+KLq8JIesRUhUFhNPKnZgOM3yKgVHyDTJ4ZP9dwQAAAIB+RkwwjGPWT7u4RWV70q
    UVcggydemeQrkD8MtO9lJpg7bQXyi60ezNrM1A5frhBrVG0RGyMsvbkE8NLWE4LCugXIbh
    fa2608BHpE58ypMGmo3SFL0NujhQXxxEL37II+gkvW2AI0IODmoqFtDeeWFXla1KoBGAFR
    0t7P79W1DIwAAAAIEA8qyNDqsewpwOJrVUpuWAybSo5XaIe1ynsKda9kifpFmRGWQTfRDz
    mDQjrtj1Iz8Cd/aANBWbWQT/4gpqPQZ3aKoxiblETtB3ffNGKU2GXU2PnbeVmE88+w8UuX
    cOeQfnTTMNcazvj3MOrX+efm2ibNGo9AbhR0WhqPxq+jKJWP8AAACBANq6xJKJcpwDDarh
    1OFKsbtkmgzpPRzwfuDsCgtbo8WIDk7bp2A0VTvF9MyMsMb8u9OXW4Be/6pXiqHdWaVkqa
    Q1621HE/8AbuyiCQcDOXgEQ2CScvCA3u0/rETutfDPYchy8PV6+QjZEtRY/3lQqzYtuj2E
    97YXYPc2DjP4WJh9AAAAAAEC
    -----END OPENSSH PRIVATE KEY-----
  rsa_public: |
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPV/vT/xMvqyMEt31Waq5ljEqc+QH44YTYp0KfxeC/RuehMIO1ec+PpXa2sbuXZNNpKoGjyHC/dpiM2M62P4LN3DeFCk/696c4F5uCq/oJG7YbrlbJSS8MNV5I9Gi6ly6DOLUFUFZFRjtQC7qzPWekrNtD7yvK3CPi9EJjSJdRVxusbtj/SuPPraUR9zW2e8MSiBelhFB2nMLYJhatfpjP8Ll6PbMIfNOYmCLHqVsGd7HzzRgPnaMU1PlA3WOaLlRSvMA/A2htzj/qtMskk+I08D9BGXnfeP3Ta4qZNWMXsK//iJ8ZN7ceOsz3vkqtAMF0WFFX5OIPvuy/5GbZj9yD 
  ecdsa_private: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAaAAAABNlY2RzYS
    1zaGEyLW5pc3RwMjU2AAAACG5pc3RwMjU2AAAAQQRuMk0HFhtK5FqJMC2MVFoH4YM0G/O2
    WHI4t/2KWrM6BDtvQGWaB6QAUlRSIjE2SDJEoDYzqkfDnptDxQ083b2aAAAAoExNK25MTS
    tuAAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBG4yTQcWG0rkWokw
    LYxUWgfhgzQb87ZYcji3/YpaszoEO29AZZoHpABSVFIiMTZIMkSgNjOqR8Oem0PFDTzdvZ
    oAAAAhAIIko5HPy+Px4RPtFHaE9HiaoGp0Zr14zuxCkU7RXIgVAAAAAAECAwQFBgc=
    -----END OPENSSH PRIVATE KEY-----
  ecdsa_public: |
    ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBG4yTQcWG0rkWokwLYxUWgfhgzQb87ZYcji3/YpaszoEO29AZZoHpABSVFIiMTZIMkSgNjOqR8Oem0PFDTzdvZo= 

network:
  version: 2
  ethernets:
    eth0:
      addresses: [ ]
      dhcp4: true
      dhcp6: true
      nameservers: {}
      optional: true

output:
  init:
    output: "> /var/log/cloud-init.out"
    error: "> /var/log/cloud-init.err"
  config: "tee -a /var/log/cloud-config.log"
  final:
    - ">> /var/log/cloud-final.out"
    - "/var/log/cloud-final.err"

rsyslog:
    remotes:
        log_serv: "*.* @{{ loghost_url }}"

package_upgrade: true
packages:
  - pwgen
  - telnet

phone_home:
  url: {{ phone_home_url }}
  post: [ ]
  tries: 5

# vim:syntax=yaml
